.center-anything {
  //gotta set the width and height
  //width: 20vw;
  float: right;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.form{
  display: block;
}