#navbar {
  padding: 0px;
}

#content {
  height: 100vh;
}

.navitem {
  color: black !important;
}

.navitem:hover {
  background-color: #efefef;
}

.navitem:active {
  background-color: #dcdcdc;
}

.selected {
  background-color: #dcdcdc;
}

.selected:hover {
  background-color: #dcdcdc;
}
